@import url("http://fonts.googleapis.com/css?family=Press+Start+2P");
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');



.App {
  text-align: center;
  font-family: 'Press Start 2P', 'VT323';
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: black;

  

  
}

h1,
h2,
h3,
h3>a,
p,
li {
  font-family: 'Press Start 2P', 'VT323';
  font-weight: none;
  font-style: none;
  text-decoration: none;
}

* {
  box-sizing: border-box;

}



body {
  overflow:visible;
  font-family: 'Press Start 2P', 'VT323';
}

.active {
  color: #4267B3;
  text-decoration: none;
}

.navbar {
  margin-left: auto;
  position:relative;
  top: 0;
  background-color: black;
 
}

.navbar-icons {
  margin-right: auto;
}

.sroll-to-top {
  position: stikcy;
  
}

.moving-background {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  background-size: auto;
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: 100% 100%;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  text-decoration: none;
  font-family: 'Press Start 2P', 'VT323';
}



.AccordionSection {


  justify-content: center;
  height: 100vh;
  background: black;
  font-size: 15px;
  text-shadow: "0 5px #000000";
  margin: '5'



}